<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>


<div *ngIf="user; else divLoading" class="grid p-2">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>{{ user.role }}</mat-card-title>
      <mat-card-subtitle>{{ user.firstname}} {{user.firstname}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="user | userImage" [alt]="" mat-card-image />
  </mat-card>
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>{{user.country}}</mat-list-item>
        <mat-list-item>{{ user.email }}</mat-list-item>
        <mat-list-item>{{user.phone }}</mat-list-item>
        <mat-list-item>{{ user.role}}</mat-list-item>
      </mat-list>
      <button mat-button color="warn" (click)="goBack()">
        Regresar
      </button>
    </mat-card-content>
  </mat-card>
</div>
