<div *ngIf="questions" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
  <div fxFlex="4" *ngIf="!editable && questions.length <4">
    <form [formGroup]="questionForm" (ngSubmit)="createQuestion()">
      <mat-form-field>
        <mat-label>Question</mat-label>
        <input type="text" formControlName="question_name" matInput placeholder="Pregunta?">
      </mat-form-field>
      <button mat-button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
        Guardar
      </button>
    </form>

  </div>
  <div fxFlex="4" *ngIf="editable">
    <form [formGroup]="questionFormUpdate" (ngSubmit)="updateQuestion()">
      <mat-form-field>
        <mat-label>Question</mat-label>
        <input type="text" formControlName="question_name" matInput>
      </mat-form-field>
      <button mat-button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
        Actualizar
      </button>
    </form>
  </div>

  <div fxLayout="row" fxLayoutAlign="start" *ngFor="let question of questions">
    <div fxFlex="4">
      <mat-card>
        <mat-card-content>
          <label>{{ question.question_name }}</label>
          <button mat-button class="" (click)="editQuestion(question)">Editar</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
