<!-- <div class="flex flex-column">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <span class="text-lg mb-4">Registro</span>

    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input type="text" formControlName="firstname" matInput placeholder="Nombre de usuario">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input type="text" formControlName="lastname" matInput placeholder="Apellido de usuario">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput placeholder="Contraseña">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <input type="text" formControlName="country" matInput placeholder="Country">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <input type="text" formControlName="role" matInput placeholder="Role">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input type="text" formControlName="phone" matInput placeholder="Phone">
    </mat-form-field>

    <mat-form-field *ngFor="let question of questionData; index as i">
      <mat-label>{{question.question_name}}</mat-label>
      <input type="text" formControlName="answer{{i}}" matInput>
    </mat-form-field>


    <button type="" mat-button mat-flat-button color="primary">
      <mat-icon>save</mat-icon>
      Crear cuenta
    </button>

  </form>
  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">¿Ya tienes cuenta?</a>
  </div>

</div> -->
<form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="login100-form">
  <span class="login100-form-title p-b-49">
    Registro
  </span>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Nombre</span>
    <input class="input100" type="text" formControlName="firstname">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Apellido</span>
    <input class="input100" type="text" formControlName="lastname">
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Correo</span>
    <input class="input100" type="email" formControlName="email">
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Contraseña</span>
    <div class="password-input-container">
      <input class="input100" type="password" formControlName="password">
      <button mat-icon-button type="button" (click)="togglePasswordVisibility()">
        <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </div>
    <span class="focus-input100"></span>
  </div>
  <div *ngIf="registerForm?.get('password')?.hasError('pattern') && registerForm?.get('password')?.touched"
    class="text-red-100 error-messege">
    La contraseña debe tener al menos una minúscula, una mayúscula, un dígito y un carácter especial.
  </div>
  <div *ngIf="registerForm?.get('password')?.hasError('minlength') && registerForm?.get('password')?.touched"
    class="text-red-100 error-messege">
    La contraseña debe tener al menos 8 caracteres.
  </div>
  <br>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Telefono</span>
    <input class="input100" type="text" formControlName="phone">
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">País</span>
    <select class="input100" formControlName="country">
      <option value="Colombia">Colombia</option>
      <option value="Perú">Perú</option>
      <option value="Bolivia">Bolivia</option>
    </select>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Rol</span>
    <select class="input100" formControlName="role">
      <option value="Analista">Analista</option>
      <option value="Comercial">Comercial</option>
      <option value="Administrador">Administrador</option>
    </select>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23" *ngFor="let question of questionData; let i = index">
    <span class="label-input100">{{question.question_name}}</span>
    <input class="input100" type="text" formControlName="answer{{i}}">
    <span class="focus-input100"></span>
  </div>
  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn" type="submit">
        Crear cuenta
      </button>
    </div>
  </div>
  <div class="flex-col-c p-t-60">
    <span class="txt1 p-b-17">
      ¿Ya tienes cuenta?
    </span>

    <a routerLink="/auth/login" class="txt2">
      Iniciar sesión aquí
    </a>
  </div>
</form>
